:root {
  --text-primary: var(--gray-700);
  --text-primary-hover: var(--gray-400);

  --header-bg: var(--white);
  --header-border: var(--gray-300);
  --footer-border: var(--gray-300);

  --main-bg: var(--gray-50);

  --button-bg-hover: var(--gray-200);
}