:root {
  --text-primary: var(--gray-200);
  --text-primary-hover: var(--gray-400);

  --header-bg: var(--gray-900);
  --header-border: var(--gray-300);
  --footer-border: var(--gray-300);

  --main-bg: var(--gray-800);

  --modal-bg: var(--gray-700);

  --button-bg-hover: var(--gray-600);
}