* {
  box-sizing: border-box;
}

body {
  background-color: var(--up-bg-light);
  color: var(--up-text-light);

  &.dark {
    background-color: var(--up-bg-dark);
    color: var(--up-text-dark);
  }
}