/* 
 * File name:  root.css
 * Version:    v0.1
 */

/* color palette */
:root {
  --up--bg-light: rgb(255, 255, 255);
  --up-bg-dark: rgb(48, 48, 48);

  --up-text-light: rgb(48, 48, 48);
  --up-text-dark: rgb(255, 255, 255);
}